In [1]:
# Remember: library imports are ALWAYS at the top of the script, no exceptions!
import sqlite3
import os
import pandas as pd
import numpy as np
from datetime import datetime
from sklearn.impute import KNNImputer
from pandas_profiling import ProfileReport

# Context
The data we will be using through the pratical classes comes from a small relational database whose schema can be seen below:
![alt text](../figures/schema.png "Relation database schema")

# Reading the Data

In [2]:
# path to database
my_path = os.path.join("..", "data", "datamining.db")

# connect to the database
conn = sqlite3.connect(my_path)

# the query
query = """
select
    age, 
    income, 
    frq, 
    rcn, 
    mnt, 
    clothes, 
    kitchen, 
    small_appliances, 
    toys, 
    house_keeping,
    dependents, 
    per_net_purchase,
    g.gender, 
    e.education, 
    m.status, 
    r.description
from customers as c
    join genders as g on g.id = c.gender_id
    join education_levels as e on e.id = c.education_id
    join marital_status as m on m.id = c.marital_status_id
    join recommendations as r on r.id = c.recommendation_id
order by c.id;
"""

df = pd.read_sql_query(query, conn)

## Make a copy of your original dataset

why?

In [3]:
df_original = df.copy()

# Metadata
- *id* - The unique identifier of the customer
- *age* - The year of birht of the customer
- *income* - The income of the customer
- *frq* - Frequency: number of purchases made by the customer
- *rcn* - Recency: number of days since last customer purchase
- *mnt* - Monetary: amount of â‚¬ spent by the customer in purchases
- *clothes* - Number of clothes items purchased by the customer
- *kitchen* - Number of kitchen items purchased by the customer
- *small_appliances* - Number of small_appliances items purchased by the customer
- *toys* - Number of toys items purchased by the customer
- *house_keeping* - Number of house_keeping items purchased by the customer
- *dependents* - Binary. Whether or not the customer has dependents
- *per_net_purchase* - Percentage of purchases made online
- *education* - Education level of the customer
- *status* - Marital status of the customer
- *gender* - Gender of the customer
- *description* - Last customer's recommendation description

## Problems:
- Duplicates?
- Data types?
- Missing values?
- Strange values?
- Descriptive statistics?

### Take a closer look and point out possible problems:

(hint: a missing values in pandas is represented with a NaN value)

In [4]:
# replace "" by nans
df.replace("", np.nan, inplace=True)

In [5]:
# check dataset data types again
df.dtypes

age                   int64
income              float64
frq                   int64
rcn                   int64
mnt                   int64
clothes               int64
kitchen               int64
small_appliances      int64
toys                  int64
house_keeping         int64
dependents          float64
per_net_purchase      int64
gender               object
education            object
status               object
description          object
dtype: object

In [6]:
# check descriptive statistics again
df.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
age,8998.0,NaN,NaN,NaN,1966.05968,17.296552,1936.0,1951.0,1966.0,1981.0,1996.0
income,8952.0,NaN,NaN,NaN,69963.550827,27591.556226,10000.0,47741.0,70030.5,92218.0,140628.0
frq,8998.0,NaN,NaN,NaN,19.848077,10.903435,3.0,10.0,17.0,28.0,59.0
rcn,8998.0,NaN,NaN,NaN,62.469771,69.761802,0.0,26.0,53.0,79.0,549.0
mnt,8998.0,NaN,NaN,NaN,622.162814,646.768205,6.0,63.0,383.0,1076.0,3052.0
clothes,8998.0,NaN,NaN,NaN,50.446655,23.422249,1.0,33.0,51.0,69.0,99.0
kitchen,8998.0,NaN,NaN,NaN,7.039675,7.848139,0.0,2.0,4.0,10.0,75.0
small_appliances,8998.0,NaN,NaN,NaN,28.524116,12.586437,1.0,19.0,28.0,37.0,74.0
toys,8998.0,NaN,NaN,NaN,7.036897,7.924422,0.0,2.0,4.0,10.0,62.0
house_keeping,8998.0,NaN,NaN,NaN,6.929984,7.882655,0.0,2.0,4.0,9.0,77.0
dependents,8716.0,NaN,NaN,NaN,0.707205,0.455071,0.0,0.0,1.0,1.0,1.0
per_net_purchase,8998.0,NaN,NaN,NaN,42.428984,18.495742,4.0,28.0,45.0,57.0,88.0
gender,8998,2,M,5784,NaN,NaN,NaN,NaN,NaN,NaN,NaN
education,8951,6,Graduation,4429,NaN,NaN,NaN,NaN,NaN,NaN,NaN
status,8821,6,Married,3273,NaN,NaN,NaN,NaN,NaN,NaN,NaN
description,8998,5,OK nice!,3434,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#Define metric and non-metric features. Why?
non_metric_features = ["education", "status", "gender", "dependents", "description"]
metric_features = df.columns.drop(non_metric_features).to_list()

## Fill missing values (Data imputation)

How can we fill missing values?

In [8]:
# Creating a copy to apply central tendency measures imputation
df_central = df.copy()

In [9]:
# count of missing values
df_central.isna().sum()

age                   0
income               46
frq                   0
rcn                   0
mnt                   0
clothes               0
kitchen               0
small_appliances      0
toys                  0
house_keeping         0
dependents          282
per_net_purchase      0
gender                0
education            47
status              177
description           0
dtype: int64

In [10]:
df_central.median()

age                  1966.0
income              70030.5
frq                    17.0
rcn                    53.0
mnt                   383.0
clothes                51.0
kitchen                 4.0
small_appliances       28.0
toys                    4.0
house_keeping           4.0
dependents              1.0
per_net_purchase       45.0
dtype: float64

In [12]:
modes=df_central[non_metric_features].mode().loc[0]

education      Graduation
status            Married
gender                  M
dependents            1.0
description      OK nice!
Name: 0, dtype: object

In [13]:
# Check each step of these commands
modes = df_central[non_metric_features].mode().loc[0]
modes

education      Graduation
status            Married
gender                  M
dependents            1.0
description      OK nice!
Name: 0, dtype: object

In [15]:
# Fill NaNs on df_central
medians = df_central[metric_features].median()
medians
#df_central.fillna(modes, inplace=True)
#df_central.fillna(medians, inplace=True)

#can do in one step
df_central.fillna(pd.concat([modes,medians]),inplace=True)

In [16]:
# Creating new df copy to explore neighbordhood imputation
df_neighbors = df.copy()

In [20]:
#check if there are NAs in a row
nans_index=df_neighbors.isna().any(axis=1)
df.loc[nans_index]

,age,income,frq,rcn,mnt,clothes,kitchen,small_appliances,toys,house_keeping,dependents,per_net_purchase,gender,education,status,description
3,1955,93571.0,26,10,888,60,10,19,6,5,1.0,35,F,Master,NaN,OK nice!
61,1968,NaN,14,90,184,95,1,3,1,0,1.0,59,F,2nd Cycle,Married,Meh...
67,1981,60457.0,9,73,63,37,2,51,6,3,NaN,57,M,PhD,Married,Meh...
70,1944,116259.0,28,35,1279,17,6,54,3,20,0.0,11,M,Graduation,NaN,OK nice!
73,1967,75274.0,16,67,263,88,3,6,1,2,NaN,66,M,Graduation,Single,Kind of OK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8932,1959,NaN,20,71,716,67,5,25,3,1,0.0,27,M,Graduation,Married,Meh...
8942,1950,92746.0,34,98,1399,50,5,36,5,4,NaN,28,M,Master,Married,Take my money!!
8964,1978,44661.0,6,49,33,18,18,35,16,13,1.0,42,M,1st Cycle,NaN,OK nice!
8972,1976,NaN,17,9,254,70,1,28,1,1,1.0,59,M,Graduation,Divorced,Meh...
8992,1954,87399.0,25,1,837,56,8,27,8,1,NaN,47,M,Graduation,Married,Kind of OK

In [ ]:
#shift+tab to see documentation 
#KNNImputer

In [24]:
# KNNImputer - only works for numerical variables. Fill NaNs on df_neighbors
imputer = KNNImputer(n_neighbors=5, weights="uniform")
imputed_array=imputer.fit_transform(df_neighbors[metric_features])

df_neighbors[metric_features]=imputed_array

In [26]:
# See rows with NaNs imputed
#income values filled by nearest neighbors 
#two warnings, one is that if you fill a value with a neighbor that is an outlier, you are creating a bias towardds that
# scale your variables first, so that your euclidean distances are not hugely affected by the distances (SCALE DATA FRIST)
df_neighbors.loc[df[metric_features].isna().any(1),metric_features]

,age,income,frq,rcn,mnt,clothes,kitchen,small_appliances,toys,house_keeping,per_net_purchase
61,1968.0,63143.0,14.0,90.0,184.0,95.0,1.0,3.0,1.0,0.0,59.0
703,1988.0,40386.2,10.0,77.0,39.0,24.0,5.0,63.0,4.0,4.0,68.0
793,1956.0,75781.8,15.0,25.0,338.0,72.0,1.0,25.0,0.0,1.0,48.0
852,1956.0,80303.8,21.0,95.0,596.0,69.0,4.0,20.0,2.0,6.0,33.0
1197,1974.0,65140.0,20.0,10.0,395.0,67.0,1.0,28.0,2.0,2.0,56.0
1280,1949.0,69257.8,8.0,81.0,122.0,76.0,3.0,18.0,2.0,1.0,38.0
1614,1978.0,48645.8,7.0,55.0,51.0,70.0,4.0,20.0,1.0,5.0,41.0
1669,1987.0,60107.6,21.0,5.0,482.0,39.0,3.0,43.0,8.0,7.0,36.0
1917,1951.0,84048.2,19.0,24.0,593.0,49.0,10.0,30.0,10.0,1.0,23.0
1924,1948.0,99651.8,31.0,86.0,1468.0,46.0,3.0,40.0,6.0,5.0,11.0
1927,1975.0,88888.6,30.0,32.0,1010.0,47.0,3.0,27.0,11.0,13.0,34.0
2268,1991.0,40179.6,12.0,45.0,61.0,13.0,2.0,38.0,17.0,30.0,65.0
2281,1941.0,103595.0,30.0,57.0,1274.0,28.0,3.0,49.0,2.0,17.0,24.0
2342,1995.0,18551.2,7.0,42.0,31.0,12.0,30.0,13.0,17.0,28.0,32.0
2446,1962.0,76523.0,25.0,88.0,708.0,88.0,0.0,10.0,1.0,1.0,56.0
2643,1978.0,57351.8,11.0,36.0,122.0,75.0,4.0,20.0,1.0,0.0,49.0
2647,1982.0,44555.2,8.0,53.0,37.0,49.0,4.0,28.0,9.0,10.0,44.0
2764,1984.0,37904.6,8.0,2.0,40.0,43.0,9.0,28.0,10.0,11.0,51.0
2839,1963.0,78637.2,22.0,17.0,591.0,81.0,2.0,13.0,2.0,2.0,44.0
3146,1938.0,112768.4,35.0,42.0,1723.0,32.0,8.0,46.0,8.0,6.0,17.0
3336,1983.0,48134.4,11.0,16.0,93.0,77.0,1.0,20.0,0.0,1.0,65.0
4213,1952.0,82596.2,25.0,50.0,1028.0,73.0,7.0,17.0,1.0,1.0,25.0
4263,1959.0,81436.2,17.0,46.0,445.0,51.0,5.0,30.0,7.0,7.0,31.0
4660,1980.0,45841.8,15.0,23.0,186.0,40.0,7.0,33.0,5.0,16.0,71.0
4724,1939.0,113838.4,37.0,66.0,1787.0,25.0,6.0,43.0,14.0,11.0,15.0
4935,1976.0,43047.2,10.0,35.0,42.0,47.0,4.0,42.0,4.0,2.0,64.0
4968,1949.0,102635.8,28.0,27.0,1142.0,53.0,8.0,35.0,0.0,4.0,10.0
5114,1938.0,109223.6,40.0,9.0,1920.0,77.0,1.0,21.0,0.0,1.0,19.0
5561,1937.0,101384.6,40.0,34.0,1667.0,59.0,6.0,19.0,9.0,7.0,43.0
5562,1984.0,50838.2,10.0,72.0,66.0,55.0,1.0,38.0,3.0,2.0,51.0
5863,1980.0,60232.6,19.0,0.0,349.0,46.0,9.0,32.0,3.0,10.0,54.0
6055,1976.0,48923.4,8.0,28.0,54.0,47.0,1.0,42.0,3.0,7.0,43.0
6529,1946.0,90698.8,23.0,38.0,949.0,18.0,22.0,34.0,25.0,1.0,17.0
6700,1950.0,88888.8,33.0,60.0,1276.0,68.0,4.0,21.0,3.0,4.0,34.0
6931,1946.0,103083.4,34.0,9.0,1659.0,46.0,6.0,37.0,11.0,1.0,9.0
7240,1952.0,83313.0,24.0,2.0,768.0,81.0,1.0,15.0,3.0,0.0,33.0
7587,1958.0,76861.2,18.0,55.0,533.0,40.0,17.0,29.0,8.0,6.0,31.0
7791,1953.0,110397.6,47.0,74.0,2103.0,40.0,4.0,32.0,19.0,4.0,34.0
7795,1943.0,91940.4,29.0,64.0,1275.0,66.0,3.0,27.0,2.0,2.0,20.0
8026,1945.0,94498.0,23.0,79.0,892.0,25.0,9.0,49.0,11.0,6.0,19.0
8444,1959.0,77934.2,18.0,20.0,494.0,76.0,2.0,17.0,2.0,3.0,31.0
8577,1977.0,49458.6,6.0,22.0,76.0,65.0,2.0,22.0,6.0,5.0,33.0
8635,1976.0,53557.8,7.0,385.0,15.0,75.0,3.0,20.0,1.0,0.0,58.0
8677,1961.0,67208.6,18.0,77.0,386.0,79.0,2.0,15.0,1.0,3.0,47.0
8932,1959.0,85643.4,20.0,71.0,716.0,67.0,5.0,25.0,3.0,1.0,27.0
8972,1976.0,63932.4,17.0,9.0,254.0,70.0,1.0,28.0,1.0,1.0,59.0

In [27]:
# let's keep the central imputation
df = df_central.copy()

## An overview of our previous data exploration

You can also explore this dataset using the exported `pandas-profiling` report.

![](../figures/exp_analysis/categorical_variables_frequecies.png)

![](../figures/exp_analysis/numeric_variables_histograms.png)

![](../figures/exp_analysis/numeric_variables_boxplots.png)

![](../figures/exp_analysis/pairwise_relationship_of_numerical_variables.png)

![](../figures/exp_analysis/correlation_matrix.png)

## Outlier removal

Why do we need to remove outliers? Which methods can we use?


Let's start by "manually" filtering the dataset's outliers

In [29]:
# This may vary from session to session, and is prone to varying interpretations.
# A simple example is provided below:

filters = (
    (df["kitchen"]<50)&
    (df["toys"]<50)&
    (df["house_keeping"]<50)&
    (df["rcn"]<110)
)

df_1 = df[filters]

In [30]:
print('Percentage of data kept after removing outliers:', np.round(df_1.shape[0] / df_original.shape[0], 4))

Percentage of data kept after removing outliers: 0.9529

In [ ]:
#but we dont want to remove 5% of all our data

### Outlier removal using only the IQR method

Why should you use/not use this method?

In [ ]:
IQR=df.quantile(0.75)-df.quantile(.25)

In [ ]:
# Compute the IQR
IQR=df.quantile(0.75)-df.quantile(.25)

# Compute upper and lower limit (lower_limit = Q1 -1.5*IQR | upper_limit = Q3 + 1.5*IQR)
lower_lim = df.quantile(.25) - iqr*1.5
upper_lim = df.quantile(.75) + iqr*1.5 

#create a boolean filter for removing data 
filters = []
for metric in metric_features:
    llim = lower_lim[metric]
    ulim = upper_lim[metric]
    filters.append(df[metric].between(llim, ulim, inclusive=True))

df_2 = df[np.all(filters, 0)]
#17% of the data is way too much to drop
print('Percentage of data kept after removing outliers:', np.round(df_2.shape[0] / df_original.shape[0], 4))

In [ ]:
#looking at the features that you would reject 

np.all(filters,1)

In [ ]:
# Get the manual filtering version
df = df_1.copy()

## Feature extraction

A reminder of our metadata:
- *id* - The unique identifier of the customer
- *age* - The year of birht of the customer
- *income* - The income of the customer
- *frq* - Frequency: number of purchases made by the customer
- *rcn* - Recency: number of days since last customer purchase
- *mnt* - Monetary: amount of â‚¬ spent by the customer in purchases
- *clothes* - Number of clothes items purchased by the customer
- *kitchen* - Number of kitchen items purchased by the customer
- *small_appliances* - Number of small_appliances items purchased by the customer
- *toys* - Number of toys items purchased by the customer
- *house_keeping* - Number of house_keeping items purchased by the customer
- *dependents* - Binary. Whether or not the customer has dependents
- *per_net_purchase* - Percentage of purchases made online
- *education* - Education level of the customer
- *status* - Marital status of the customer
- *gender* - Gender of the customer
- *description* - Last customer's recommendation description

In [ ]:
# Try to pull as many features as you can; You can always drop them later on
# You can start by converting the 'age' variable to the actual age
# You can also store the birth year in another feature

# CODE HERE

## Variable transform
You may change the values of observations for a give variable:

In [31]:
# Remember the 'rcn' variable had an odd behavior? 
# This is the time to fix that

df_1.loc[df_1["rcn"]>105,"rcn"] = 105

C:\Users\mdurh\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

## Handling highly correlated variables

We already saw our original correlation matrix:
![](../figures/exp_analysis/correlation_matrix.png)

In [ ]:
# Select variables according to their correlations

# CODE HERE

## Redo data exploration

Check if the data looks the way you expect it to. 

- Have you missed some outliers? 
- Are there still missing values?
- Is the data normalized?

This is an iterative process. It is likely you will change your preprocessing steps frequently throughout your group work.

In [ ]:
ProfileReport(
    df,
    title='Tugas Customer Data Preprocessed',
    correlations={
        "pearson": {"calculate": True},
        "spearman": {"calculate": False},
        "kendall": {"calculate": False},
        "phi_k": {"calculate": False},
        "cramers": {"calculate": False},
    },
)